version: '3.0'
services:
  postgres:
    image: ${REVDEBUG_DOCKER_HUB_REGISTRY:-}postgres:11-alpine
    restart: unless-stopped
    healthcheck:
            test: pg_isready -U "${REVDEBUG_POSTGRES_USER:-rdb_user}" -d template1 && echo "SELECT 'CREATE DATABASE keycloak' WHERE NOT EXISTS (SELECT datname FROM pg_catalog.pg_database WHERE datname='keycloak')\gexec" | psql -U "${REVDEBUG_POSTGRES_USER:-rdb_user}" -w template1
    shm_size: ${REVDEBUG_POSTGRES_SHM_SIZE:-256mb}
    volumes:
        - ${REVDEBUG_VOLUME_PATH:-/var/revdebug/server/repo}/revdebug_database:/var/lib/postgresql/data
    environment:
            POSTGRES_USER: ${REVDEBUG_POSTGRES_USER:-rdb_user}
            POSTGRES_PASSWORD: ${REVDEBUG_POSTGRES_PASSWORD:-masterkey}
            POSTGRES_DB: ${REVDEBUG_POSTGRES_DATABASE:-revdebug_db}
    logging:
        driver: "local"
  opensearch:
    image: ${REVDEBUG_DOCKER_REGISTRY:-docker.revdebug.com/}opensearch:${REVDEBUG_DOCKER_TAG:-latest}
    restart: unless-stopped
    depends_on:
      mediainit:
        condition: service_completed_successfully
    healthcheck:
      test: curl --silent --fail "localhost:9200/_cluster/health?wait_for_status=yellow&timeout=5s" || exit 
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms4g -Xmx4g"
      - index.store.type=niofs
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ${REVDEBUG_VOLUME_PATH:-/var/revdebug/server/repo}/apm_database:/usr/share/opensearch/data
    logging:
        driver: "local"
  devops:
    image: ${REVDEBUG_DOCKER_REGISTRY:-docker.revdebug.com/}devops:${REVDEBUG_DOCKER_TAG:-latest}
    restart: unless-stopped
    depends_on:
        - "postgres"
    volumes:
        - interop:/interop
        - ${REVDEBUG_VOLUME_PATH:-/var/revdebug/server/repo}:/app/RevDeBug
        - ${REVDEBUG_VOLUME_PATH:-/var/revdebug/server/git_hive}:/var/RevDeBug/git_hive
        - ${REVDEBUG_VOLUME_CAPATH:-/var/revdebug/ca}:/usr/local/share/ca-certificates:ro
        - ${REVDEBUG_VOLUME_GIT_SSH_KEYS:-/var/revdebug/git-ssh-key-dir}:/git-ssh-key-dir
    environment:
            REVDEBUG_POSTGRES_SERVER: ${REVDEBUG_POSTGRES_SERVER:-postgres}
            REVDEBUG_POSTGRES_PORT: ${REVDEBUG_POSTGRES_PORT:-5432}
            REVDEBUG_POSTGRES_USER: ${REVDEBUG_POSTGRES_USER:-rdb_user}
            REVDEBUG_POSTGRES_PASSWORD: ${REVDEBUG_POSTGRES_PASSWORD:-masterkey}
            REVDEBUG_POSTGRES_DATABASE: ${REVDEBUG_POSTGRES_DATABASE:-revdebug_db}
            REVDEBUG_AUTH_OPENID_ADDRESS: ${REVDEBUG_AUTH_OPENID_ADDRESS:-}
            REVDEBUG_AUTH_OPENID_CLIENTID: ${REVDEBUG_AUTH_OPENID_CLIENTID:-DevOps}
            REVDEBUG_AUTH_OPENID_SECRET: ${REVDEBUG_AUTH_OPENID_SECRET:-change_me_in_env_file}
    links:
        - "apm-oap:oap.apm"
    logging:
        driver: "local"
  apm-oap:
    image: ${REVDEBUG_DOCKER_REGISTRY:-docker.revdebug.com/}apm-oap:${REVDEBUG_DOCKER_TAG:-latest}
    restart: unless-stopped
    depends_on:
      opensearch:
        condition: service_healthy
    volumes:
        - interop:/interop
    environment:
            SW_STORAGE: elasticsearch7
            SW_STORAGE_ES_CLUSTER_NODES: opensearch:9200
            SW_CORE_METRICS_DATA_TTL: ${SW_CORE_METRICS_DATA_TTL:-14}
            SW_CORE_RECORD_DATA_TTL: ${SW_CORE_RECORD_DATA_TTL:-3}
            SW_STORAGE_ES_INDEX_REPLICAS_NUMBER: ${SW_STORAGE_ES_INDEX_REPLICAS_NUMBER:-0}
    logging:
        driver: "local"
  apm-ui:
    image: ${REVDEBUG_DOCKER_REGISTRY:-docker.revdebug.com/}apm-ui:${REVDEBUG_DOCKER_TAG:-latest}
    restart: unless-stopped
    depends_on:
        - "apm-oap"
    volumes:
        - interop:/interop
    environment:
            SW_OAP_ADDRESS: oap.apm:12800
            SERVER_maxHttpHeaderSize: 640000
    depends_on:
        - apm-oap
    links:
        - "apm-oap:oap.apm"
    logging:
        driver: "local"
  wsproxy:
    image: ${REVDEBUG_DOCKER_REGISTRY:-docker.revdebug.com/}wsproxy:latest
    restart: unless-stopped
    depends_on:
        - "devops"
    environment:
            WSPROXY_CONNECT_HOST: devops
            WSPROXY_APM_HOST: oap.apm
    links:
        - "apm-oap:oap.apm"
        - "devops:devops"
    logging:
        driver: "local"
  nginx:
    image: ${REVDEBUG_DOCKER_REGISTRY:-docker.revdebug.com/}nginx:${REVDEBUG_DOCKER_TAG:-latest}
    restart: unless-stopped
    ports:
        - "80:80"
        - "443:443"
        - "${REVDEBUG_SERVER_GRPC_PORT:-11800}:11800"
        - "${REVDEBUG_RECORDERS_PORT:-42733}:42733"
        - "${REVDEBUG_APPLICATIONS_PORT:-42734}:42734"
        - "${REVDEBUG_GRPC_PORT:-42735}:42735"
    volumes:
      - interop:/interop
      - ${REVDEBUG_ROOTVOLUME_PATH:-/var/revdebug}/nginx:/var/log/nginx
      - ${REVDEBUG_ROOTVOLUME_PATH:-/var/revdebug}/certbot/conf:/etc/letsencrypt
      - ${REVDEBUG_ROOTVOLUME_PATH:-/var/revdebug}/certbot/www:/var/www/certbot
      - ${REVDEBUG_CERTIFICATE_PATH:-/var/revdebug/cert}:/ssl
      - ${REVDEBUG_UAC_FILE:-./uac}:/uac:ro
    environment:
        APM_AS_DEFAULT: ${REVDEBUG_APM_AS_DEFAULT:-true}
        CERTIFICATE_NAME: ${REVDEBUG_CERTIFICATE_NAME:-}
        KEEP_ACCESS_LOGS: ${REVDEBUG_KEEP_ACCESS_LOGS:-false}
        SERVER_NAME: ${REVDEBUG_SERVER_NAME:-}
        SSL_CERT_PATH: ${REVDEBUG_SSL_CERT_PATH:-}
        SSL_CERTKEY_PATH: ${REVDEBUG_SSL_CERTKEY_PATH:-}
    depends_on:
        - apm-ui
        - apm-oap
        - devops
    links:
        - "apm-oap:oap.apm"
        - "apm-ui:ui.apm"
    logging:
        driver: "local"
  mediainit:
    image: ${REVDEBUG_DOCKER_HUB_REGISTRY}alpine
    entrypoint: 
        - /bin/sh
        - -c 
        - "mkdir -p /var/revdebug/keycloak ; chown -R 1000: /var/revdebug/keycloak; mkdir -p /var/revdebug/server/repo/apm_database; chown -R 1000: /var/revdebug/server/repo/apm_database"
    container_name: mediainit
    restart: "no"
    volumes: 
        - ${REVDEBUG_ROOTVOLUME_PATH:-/var/revdebug}:/var/revdebug  
    logging:
        driver: "local"
  keycloak:
    image: ${REVDEBUG_DOCKER_REGISTRY:-docker.revdebug.com/}keycloak:${REVDEBUG_DOCKER_TAG:-latest}
    restart: unless-stopped
    depends_on:
      mediainit:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy 
    volumes:
        - ${REVDEBUG_ROOTVOLUME_PATH:-/var/revdebug}/keycloak:/var/keycloak-config/cfg  
    environment:
            REVDEBUG_CERTIFICATE_NAME: ${REVDEBUG_CERTIFICATE_NAME:-}
            REVDEBUG_SERVER_NAME: ${REVDEBUG_SERVER_NAME:-}
            REVDEBUG_AUTH_OPENID_SECRET: ${REVDEBUG_AUTH_OPENID_SECRET:-}
            REVDEBUG_SSL_CERT_PATH: ${REVDEBUG_SSL_CERT_PATH:-}
            REVDEBUG_SSL_CERTKEY_PATH: ${REVDEBUG_SSL_CERTKEY_PATH:-}
            KEYCLOAK_USER: ${KEYCLOAK_USER:-admin}
            KEYCLOAK_PASSWORD: ${KEYCLOAK_PASSWORD:-change_me_in_env_file}
            DB_USER: ${REVDEBUG_POSTGRES_USER:-rdb_user}
            DB_PASSWORD: ${REVDEBUG_POSTGRES_PASSWORD:-masterkey}
            DB_ADDR: ${REVDEBUG_POSTGRES_SERVER:-postgres}
            PROXY_ADDRESS_FORWARDING: "true"
            KEYCLOAK_IMPORT: "true"
            KEYCLOAK_USER_UPDATE: ${KEYCLOAK_USER_UPDATE:-false}
            REVDEBUG_DEFAULT_USER: ${REVDEBUG_DEFAULT_USER:-false}
            REVDEBUG_USER: ${REVDEBUG_USER:-}
            REVDEBUG_USER_PASSWORD: ${REVDEBUG_USER_PASSWORD:-}
    logging:
        driver: "local"
volumes:
  interop:
